<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://10.17.7.27:8080/job/TROS-APP-IOS-PRESALE/lastSuccessfulBuild/artifact/jingbao.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>http://lingoer.github.io/OTA/icon57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>http://lingoer.github.io/OTA/icon512.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.jingbao321.tros</string>
				<key>bundle-version</key>
				<string>0.2.1</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>镜爆眼镜</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
